<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Powered_By_Fusari" content="">
    <meta name="author" content="Daniele Fusari">
    <title>Powered_By_Fusari</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/public/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="/public/css/owl-carousel.css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">Daniele Fusari</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="https://danielefusari.co.uk/#about">About</a></li>
                            <li class="scroll-to-section"><a href="https://danielefusari.co.uk/#work">Projects</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                  {% if loggedIn %}
                                      <li><a href="login?logout=true">logout</a></li>
                                  {% else %}
                                      <li><a href="login">login</a></li>
                                  {% endif %}
                                    <li><a href="pageOnly">No Controlers</a></li>
                                    <li><a href="lost">404</a></li>
                                    <li><a href="https://danielefusari.co.uk/#contact">Contact</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="https://danielefusari.co.uk/#contact">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

{% block start %}
{% endblock %}


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2021 Powered_By_Fusari

                . Design: <a rel="nofollow" href="https://templatemo.com">Daniele Fusari</a></p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a target="_blank" href="https://www.linkedin.com/in/daniele-fusarid/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://github.com/DanieleFusari"><i class="fa fa-rss"></i></a></li>
                        <li><a target="_blank" href="https://danielefusari.co.uk/"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


<!-- My Javascript -->
  <script src="/public/js/script.js" type="text/javascript"></script>

  <!-- jQuery -->
  <script src="/public/js/jquery-2.1.0.min.js"></script>

  <!-- Bootstrap -->
  <script src="/public/js/popper.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>

  <!-- Plugins -->
  <script src="/public/js/owl-carousel.js"></script>
  <script src="/public/js/scrollreveal.min.js"></script>
  <script src="/public/js/waypoints.min.js"></script>
  <script src="/public/js/jquery.counterup.min.js"></script>
  <script src="/public/js/imgfix.min.js"></script>

  <!-- Global Init -->
  <script src="/public/js/custom.js"></script>

  </body>
</html>
