{% extends "/layout.twig" %}

{% block css %}
<link rel="stylesheet" href="/public/css/lost.css">
{% endblock %}


{% block start %}
    <main>
      <div class="welcome-area" id="welcome">
        <video id="lostVidio" muted autoplay loop>
          <source src="/public/video/lost.mp4" type="video/mp4">
        </video>
      </div>
    </main>
{% endblock %}
