<?php require __DIR__ . '/reusable/header.php' ?>
    <main>
      <video id="lostVidio" muted autoplay loop>
        <source src="/public/video/lost.mp4" type="video/mp4">
      </video>
    </main>

<?php require __DIR__ . '/reusable/footer.php' ?>
