{% extends "/layout.twig" %}
{% block css %}
<link rel="stylesheet" href="/public/css/login.css">
{% endblock %}

{% block start %}
<!-- ***** Welcome Area Start ***** -->
<main>




  <div class="welcome-area" id="welcome">
    <h1>Welcome {{ userName }},  to the test page </h1>

  </div>



</main>
{% endblock %}
